# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myvenv/
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Migrations (istersen açık bırak, genelde migration'lar commit edilir)
# */migrations/*.py
# !*/migrations/__init__.py

# Environment variables
.env
.env.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Static files (eğer collectstatic ile topluyorsan)
staticfiles/